* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "title       title        title"
    ".           .            button"
    "inputTitle  outputTitle  button"
    "inputText   outputText   button"
    "inputPiano4 outputPiano4 button"
    "inputPiano3 outputPiano3 button"
    ".           .            button";
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr) 200px;
  grid-template-rows: 80px minmax(0px, 1fr) minmax(40px, 2fr) minmax(100px, 5fr) minmax(170px, 10fr) minmax(0px, 10fr) minmax(0px, 1fr);
  background-color: rgb(255, 235, 255);
  margin: 0 auto;
}

.title {
  background-color: rgb(50, 25, 50);
  color: rgb(240, 240, 240);
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 16px;
}

.inputTitle {
  grid-area: inputTitle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputTitle {
  grid-area: outputTitle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputText {
  grid-area: inputText;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputText {
  grid-area: outputText;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.inputPiano4 {
  grid-area: inputPiano4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.outputPiano4 {
  grid-area: outputPiano4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.inputPiano3 {
  grid-area: inputPiano3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.outputPiano3 {
  grid-area: outputPiano3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.buttonSection {
  background-color: rgb(75, 50, 75);
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.inputTitle, .outputTitle {
  color: rgb(100, 50, 100);
  font-size: 26px;
  font-weight: 800;
}

.inputBox {
  color: rgb(100, 50, 100);
  padding: 6px;
  font-size: 20px;
  width: 300px;
  border: 1px solid rgb(200, 100, 200);
  border-radius: 4px;
  caret-color: rgb(255, 100, 255);
  outline: none;
  transition: all 0.3s ease;

  &:focus {
    border: 1px solid rgb(255, 100, 255);
    box-shadow: 0 0 7px rgba(200, 100, 200, 0.5);
  }
}

.inputBox::placeholder {
  color: rgb(200, 150, 200);
}

.outputText {
  color: rgb(100, 50, 100);
  font-size: 22px;
  font-weight: 400;
  padding-left:50px;
  padding-right:50px;
}

.outputText.active {
  color: rgb(100, 50, 100);
  font-size: 22px;
  font-weight: 600;
}

.outputWarning {
  color: rgb(255, 255, 255);
  background-color: rgb(100, 50, 100);
  border-radius: 18px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
}

.displayButton {
  background-color: rgb(150, 100, 150);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  transition: all 0.3s ease;
  
  &:hover {
    background-color: rgb(100, 50, 100);
  }
}

.displayButton.active {
  background-color: rgb(100, 50, 100);
  box-shadow: 0 0 10px rgba(200, 100, 200, 0.8);
}

.inputButton {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.outputButton {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.whiteKey {
  background-color: rgb(255, 230, 255);
  color: rgb(50, 25, 50);
  width: 70px;
  height: 150px;
  padding-top: 100px;
  z-index: 1;
  border: 2px solid rgb(240, 200, 240);
}

.inputButton.whiteKey:hover {
  background-color: rgb(220, 150, 220);
}

.blackKey {
  background-color: rgb(50, 25, 50);
  color: rgb(255, 230, 255);
  height: 90px;
  width: 60px;
  padding-top: 40px;
  margin-bottom: 60px;
  margin-left: -30px;
  margin-right: -30px;
  align-items: center;
  z-index: 2;
  border: 2px solid rgb(100, 50, 100);
}

.inputButton.blackKey:hover {
  background-color: rgb(120, 60, 120);
}

.whiteKey.active {
  background-color: rgb(220, 150, 220);
  box-shadow: 0 0 20px rgba(150, 75, 150, 0.3);
}

.blackKey.active {
  background-color: rgb(120, 60, 120);
  box-shadow: 0 0 20px rgba(150, 75, 150, 0.3);
}

.whiteKey.active.bass {
  background-color: rgb(150, 220, 220);
  box-shadow: 0 0 20px rgba(75, 150, 150, 0.3);
  border: 2px solid rgb(200, 240, 240);
}

.blackKey.active.bass {
  background-color: rgb(60, 120, 120);
  box-shadow: 0 0 20px rgba(75, 150, 150, 0.3);
  border: 2px solid rgb(50, 100, 100);
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  filter: brightness(0.6);
  cursor: not-allowed;
}